<h1>All Kids</h1>

<!-- iterate through all kids here -->
<ul>
  <% @kids.each do |kid| %>
      <li><a href="/kids/<%= kid.id %>"><%= kid.name %></a></li>
  <% end %>
</ul>

<!-- remember to link their names to their show pages -->