<h1>All Houses</h1>

<!-- iterate through houses and their candies here -->
<% @houses.each do |house| %>
    <a href="/houses/<%= house.id %>"><%= house.address %></a><br>
    <% house.unclaimed_candies.each do |candy| %>
        <%= candy.name %><br>
    <% end %>
<% end %>