<h1>Welcome to Halloween</h1>
<h2>The greatest holiday</h2>

<img src="http://cartoonpumpkin.jpg.to" alt="pumpkin"><br>

<!-- link to making a new kid here -->
<a href="/kids/new">Make a new kid</a>

<!-- link to the kids index page here -->
<a href="/kids">See kids</a>

<!-- link to the houses index page here -->
<a href="/houses">See houses</a>
